a {
    color: #000 !important;
}

a:hover {
    text-decoration: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

.navbar {
    background-color: #FEED00;
}

.nav-link {
    border-right: 1px solid #fff;
}

/* .navbar-toggler span:nth-child(1) {
    color: #000;
}

.navbar-toggler span:nth-child(2) {
    color: #000;
}

.navbar-toggler span:nth-child(3) {
    color: #000;
} */

.top_main-content {
    background: linear-gradient(rgba(15, 160, 07, .65), rgba(15, 160, 07, .65)),
        url('../img/home_banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
    width: 100%;
}

.heading_content {
    padding-top: 2rem;
}

.main_heading,
.section_1_head h4,
.members_content h4,
.address_content h5,
.about_head h4,
.about_desc h4,
.form_content h4,
.content h6,
.card-title {
    font-family: 'Times New Roman', Times, serif;
}

.head_desc,
.section_1_head p,
.members_conten p,
.about_desc h5,
.about_desc p,
.card-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main_heading {
    max-width: 55%;
    font-size: 60px;
    color: #fff;
}

.head_desc {
    max-width: 65%;
    color: #fff;
    line-height: 1.4;
    font-weight: bolder;
}

.btn_content-main button {
    color: #fff !important;
}

.btn_content-main button {
    border: 1px solid #fff !important;
}

.btn_content-main button:hover {
    background-color: #FEED00 !important;
    color: #000 !important;
}

.site-section {
    padding: 3rem 0;
}

.section_1_head {
    color: #888888;
}

.section_1_head h4 {
    font-size: 1.8rem;
}

.content {
    border: 1px solid #ccc;
}

.content p {
    color: #1E72A4;
}

.members {
    background: #ebf2c7;
}

.btn1,
.btn {
    transition: .3s !important;
}

.btn1:hover {
    border: 1px solid #fff !important;
    border-radius: 5px;
    background-color: #FEED00 !important;
    color: #000 !important;
}

.btn2 {
    background-color: #12693E !important;
    color: #fff !important;
}

.btn2:hover {
    border: 1px solid #fff !important;
    background-color: #FEED00 !important;
    color: #000 !important;
}

.address_content {
    color: #888888;
}

.address_content h5 {
    font-size: 18px;
}

.copyright {
    background: #AFCD20;
}

.about_head {
    background-color: rgba(15, 160, 07, .65);
}

.about {
    color: #888888;
}

.about_desc {
    margin-bottom: 7rem;
}

.team {
    background-color: #FBFBFB;
}

.content span {
    font-size: 12px !important;
}

.content_visitors {
    padding-top: 2rem;
}

/* Media Qeries */

@media only screen and (max-width: 768px) {
    .main_heading {
        font-size: 30px;
    }

    .small {
        padding-top: .5rem;
        font-weight: 600;
    }

    .content_visitors {
        padding-top: 0;
    }
}

@media only screen and (max-width: 1024px) {
    .main_heading {
        font-size: 30px;
    }
}

@media only screen and (max-width: 600px) {
    .content_visitors h5 {
        font-size: 10px;
    }

    .head_desc {
        max-width: 100%;
    }
}